@font-face {
  font-family: "CinzelDecorative-Regular";
  src: url("fonts/CinzelDecorative-Regular.otf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "CinzelDecorative-Regular", sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow: hidden;
}

.container {
  min-height: 100svh;
  position: relative;
  background: linear-gradient(
    223.17deg,
    rgb(28, 24, 41) 0%,
    rgb(27, 24, 40) 8.61%,
    rgb(25, 23, 36) 17.21%,
    rgb(22, 21, 32) 25.82%,
    rgb(20, 19, 28) 34.42%,
    rgb(18, 18, 24) 43.03%,
    rgb(17, 17, 23) 51.63%
  );
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 1;
  pointer-events: none;
}

.main-container {
  width: 100%;
  height: 100vh;
  position: relative;
  transform: scale(1.25);
  background-image: url("immagini/logo_2.svg");
  background-size: 2000vh;
  background-position: 50% 41.7%;
  background-repeat: no-repeat;
  background-origin: content-box;
  padding-bottom: 200px;
}

.main-image {
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0;
  object-fit: cover;
}

.second-image {
  position: absolute;
  inset: 0;
  width: 140%;
  height: 140vh;
  object-fit: contain;
  z-index: -2;       
  transform: scale(1.4);  
  opacity: 1;    
  left: -20%;
  top: -20%;
}

.main-logo {
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0;
  z-index: 1;
  object-fit: cover;
}

.text-logo-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.text-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url("immagini/text-logo.png");
  background-repeat: no-repeat;
  background-position: 50% 41.7%;
  background-size: 67.2vh;
  background-origin: content-box;
  padding-bottom: 200px;
  height: 100vh;
  position: absolute;
  inset: 0;
  transform: translateY(2.5cm); 
}

.scroll-indicator {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 34px;
  height: 14px;
  z-index: 10;
}

.scroll-indicator svg {
  color: #de3163;
  width: 100%;
  height: 100%;
}

.text {
  color: #de3163;
  text-align: center;
  background-image: radial-gradient(
    circle at 50% 200vh,
    rgba(0, 49, 83, 1) 0vh,      
    rgba(0, 49, 83, 1) 90vh,     
    rgba(36, 33, 36, 1) 120vh,      
    rgba(36, 33, 36, 0) 150vh      
  );
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  background-clip: text;
  width: 100%;
  line-height: 0.9;
  margin-top: 35%;
}

.d2-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0;
  opacity: 0;
  object-fit: cover;
  background-image: radial-gradient(
    circle at 50% 200vh,
    rgba(0, 49, 83, 1) 0vh,      
    rgba(0, 49, 83, 1) 90vh,     
    rgba(36, 33, 36, 1) 120vh,      
    rgba(36, 33, 36, 0) 150vh        
);
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
  background-clip: text;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 0 2rem; 
  visibility: hidden;
}

.d2-container p {
  max-width: 90%;
  font-size: 1rem;
}

.d2-container h3 {
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  .text-logo-container h3,
  .text-logo-container .text {
    font-size: 1rem;
    line-height: 1.2;
    text-align: center;    
  }

  .text-logo-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0;
  }
  
  .text-logo {
    background-size: 40vh;  
    padding-bottom: 50px;       
    transform: translateY(4cm);   
    height: 60vh;           
    background-position: center;
  }
  
  .scroll-indicator {
    bottom: 30px;
  }

  .d2-container {
    margin: 0 auto;
    max-width: 60%;
    padding: 0;
  }

  .d2-container p {
    max-width: 90%;
    font-size: 2rem;
  }

  .d2-container h3 {
    font-size: 3.5rem;
  }
}
